@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
    margin: 0; 
    font: inherit;
    line-height: 140%;
}

body {
    font-family: Work Sans;
    color: #090A0A;
}

.header {
    width: 100%;
    padding: 27px 8px;
}

.nav {
    width: 100%;
    text-align: right;
    justify-items: right;
}

.nav__item {
    margin-right: 30px;
    color: #000000; 
    text-decoration: none;
}
.nav__item:visited {
    color: #939596;
}

.nav__item:hover {
    color: #676b6d;
}

.nav__item:last-child {
    margin-right: 0;
}

.hero {
    padding: 80px 8px 50px 8px;
}

.heading1 {
    font-size: 36px;
    margin-bottom: 40px;
}

.hero__image {
    width: 100%;
}

.heading4 {
    font-size: 20px;
    line-height: 250%;
}

.paragraph {
    font-size: 17px;
    line-height: 120%;
    color: #7C7E80;
}

.gallery {
    padding: 30px 8px 30px 8px;
    width: 100%;
}

.gallery__card {
    padding-bottom: 60px;
    height: 100%;
}

.gallery__image {
    width: 100%;
}

.gallery__image--grayscale {
    filter: grayscale(100%);
}

.social-shares {
    display: grid; 
    grid-template-columns: repeat(auto-fit, 30px);
    grid-gap: 10px;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;

}

.footer {
    background-color: #363434;
    color: #FCFCFC;
    padding: 100px 8px;
}

.footer__info {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    grid-template-rows: auto;
    justify-content: center;
    gap: 10px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.footer__image {
    max-width: 170px;
    padding: 20px;
    justify-self: center;
}

.footer_heading {
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    color: #FCFCFC;
    padding-bottom: 30px;
}

.footer__paragraph {
    font-size: 17px;
    line-height: 160%;
}

@media only screen and (max-width: 767px) {
   .heading1 {
       font-size: 22px;
       margin-bottom: 20px;
   }

   .heading4 {
       font-size: 18px;
       line-height: 200%;
   }

   .paragraph {
       font-size: 16px;
   }

   .hero {
       padding: 10px 8px; 
   }

   .gallery__card {
       padding-bottom: 30px;
   }
  }